<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8' />
	<title>Hi  \  {% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/fries/themes/holo-dark/holo-dark.min.css') }}" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}" media="screen" />
	{% block css %}{% endblock %}
</head>
<body>
	<nav class="action-bar navbar navbar-inverse" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		{% if not user %}
		<a class="navbar-brand" href="/index">Hi</a>
		{% else %}
		<a class="navbar-brand" href="/home">Hi</a>
		{% endif %}
		<ul class="nav navbar-nav pull-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> <b class="caret"></b></a>
				<ul class="dropdown-menu">
					{% if not user %}
					<li><a href="/register">Registrar</a></li>
					<li><a href="/login">Login</a></li>
					{% else %}
					<li><p class="navbar-text">Bem vindo {{user['name'].capitalize()}}</p></li>
					<li><a href="/logout">Logout</a></li>
					<li><a href="/show">Perfil</a></li>
					<li><a href="#">Historio</a></li>
					{% endif %}
				</ul>
			</li>
		</ul>
		<!-- Collect the nav links, forms, and other content for toggling -->	
	</nav>
	<div class="body">
		{% block body %}{% endblock %}
	</div>
	<script type=text/javascript src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
	<script type=text/javascript src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
	<script type=text/javascript src="{{ url_for('static', filename='vendor/fries/fries.min.js') }}"></script>
	{% block js %}{% endblock %}
</body>
</html>