{% extends "base.html" %}
{% block title %}Registrar{% endblock %}
{% block body %}
<div class="row">
	<div id="msg" class="col-sm-6 col-sm-offset-3">
		<h1>Registro</h1>
	</div>
	<form class="form-horizontal col-sm-6 col-sm-offset-3" role="form" method=post action="/register">
		<div class="form-group">
			<div class="col-sm-2">
				{{ form.name.label(class_="control-label") }}
			</div>
			<div class="col-sm-5">
				{{ form.name(class_="form-control"), required }}
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2">
				{{ form.email.label(class_="control-label") }}
			</div>
			<div class="col-sm-5">
				{{ form.email(class_="form-control"), required }}
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2">
				{{ form.description.label(class_="control-label") }}
			</div>
			<div class="col-sm-5">
				{{ form.description(class_="form-control",, required ,row="3") }}
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2">
				{{ form.password.label(class_="control-label") }}
			</div>
			<div class="col-sm-5">
				{{ form.password(class_="form-control"), required }}
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2">
				{{ form.confirm.label(class_="control-label") }}
			</div>
			<div class="col-sm-5">
				{{ form.confirm(class_="form-control"), required }}
			</div>
		</div>
		<button type="submit" class="btn btn-default">Enviar</button>
	</form>
	<div id="resultArea" class="col-sm-6 col-sm-offset-3" >
		{% if answer %}
		<input type="text" class="form-control" placeholder="Text input" value="{{ answer }}">
		{% endif %}
	</div>
</div>
</div>
{% endblock %}
{% block js %}
{% endblock %}