<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="pt-BR" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="pt-BR" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="pt-BR" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="pt-BR" class="no-js"> <!--<![endif]-->
        <head>
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                
                <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
                <meta name="description"        content="">
                <meta name="keywords"           content="">
                <meta name="author"             content="">

                <title> Hi | {% block title %} {% endblock %} </title>

                <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo/favicon.png">

                <!-- -  -   -    -     -      -      -       -        -        Fonts:default -->
                <link href="{{ url_for('static', filename='css/font/open-sans.css') }}"                 rel="stylesheet" type="text/css">
                <link href="{{ url_for('static', filename='css/font/ico-moon.css') }}"                  rel="stylesheet" type="text/css">

                <!-- -  -   -    -     -      -      -       -        -        Stylesheets:default -->
                <link href="{{ url_for('static', filename='css/normalize.css') }}"                      rel="stylesheet" type="text/css">
                <link href="{{ url_for('static', filename='css/vendor/foundation.css') }}"              rel="stylesheet" type="text/css">
                <link href="{{ url_for('static', filename='css/vendor/fries.min.css') }}"               rel="stylesheet" type="text/css">
                <link href="{{ url_for('static', filename='css/plugins.css') }}"                        rel="stylesheet" type="text/css">
                <link href="{{ url_for('static', filename='css/main.css') }}"                           rel="stylesheet" type="text/css">
                
                <!-- -  -   -    -     -      -      -       -        -        Javascripts:default -->
                <script src="{{ url_for('static', filename='js/vendor/modernizr.min.js') }}"            type="text/javascript"></script>
                <script src="{{ url_for('static', filename='js/vendor/smooth-scroll.js') }}"            type="text/javascript"></script>
        </head>
        <body>
                <!--[if lt IE 7]>
                    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
                <![endif]-->

                <!-- -  -   -    -     -      -      -       -        -        Header -->        
                {% block header %} {% endblock %}
                
                <!-- -  -   -    -     -      -      -       -        -        Menu -->
                {% block menu %} {% endblock %} 
                
                <!-- -  -   -    -     -      -      -       -        -        Container -->
                {% block container %} {% endblock %} 
                
                <!-- -  -   -    -     -      -      -       -        -        Footer -->
                {% block footer %} {% endblock %} 
                
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js') }}"></script>
                <script>
                        window.jQuery || document.write('<script src="{{ url_for('static', filename='js/vendor/jquery.min.js') }}"><\/script>')
                </script>

                <script src="{{ url_for('static', filename='js/vendor/foundation.min.js') }}"></script>
                <script src="{{ url_for('static', filename='js/vendor/fingerblast.js') }}"></script>
                <script src="{{ url_for('static', filename='js/vendor/fries.min.js') }}"></script>
                <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
                <script src="{{ url_for('static', filename='js/main.js') }}"></script>
                
                <!-- -  -   -    -     -      -      -       -        -        Javascripts:utils -->
                {% block js %} {% endblock %}
        </body>

        <script>
            $(document).foundation();
        </script>
</html>