{% extends "base.html" %}

{% block title %} 
	Index 
{% endblock %}

{% block header %} 
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			{% if not user %}
			<a class="navbar-brand" href="/index">Hi</a>
			{% else %}
			<a class="navbar-brand" href="/home">Hi</a>
			{% endif %}
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav navbar-right">
				{% if not user %}
				<li><a href="/register">Registrar</a></li>
				<li><a href="/login">Login</a></li>
				{% else %}
				<li><p class="navbar-text">Bem vindo {{user['name'].capitalize()}}</p></li>
				<li><a href="/logout">Logout</a></li>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Options <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/show">Perfil</a></li>
							<li><a href="#">Historio</a></li>
						</ul>
					</li>
				</ul>
				{% endif %}
			</ul>
		</div><!-- /.navbar-collapse -->
	</nav>
{% endblock %}

{% block menu %} {% endblock %}

{% block container %} 
	<div class="title col-sm-4 col-sm-offset-4">
		<h1>Hi</h1>
		<p>Meet new people</p>
	</div>
{% endblock %}

{% block footer %} {% endblock %}

{% block js %} 
	<script>
		var detect = function () {
	      if( navigator.userAgent.match(/Android/i)
	        || navigator.userAgent.match(/webOS/i)
	        || navigator.userAgent.match(/iPhone/i)
	        || navigator.userAgent.match(/iPad/i)
	        || navigator.userAgent.match(/iPod/i)
	        || navigator.userAgent.match(/BlackBerry/i)
	        || navigator.userAgent.match(/Windows Phone/i)
	      ) {
	        return true;
	      }
	      else {
	        return false;
	      }
	    };

	    // To enable touch events on desktop
	    // Remove this when building in PhoneGap
	    if (detect) {
	      window.onload = new FingerBlast('body');
	    }
	</script>
{% endblock %}