{% extends "base.html" %}
{% block title %} Visualizar Perfil {% endblock %}
{% block body %}
<div class="form-horizontal col-sm-6 col-sm-offset-3" role="form">
	<div class="form-group">
		<label for="inputPassword1" class="col-lg-2 control-label">Nome</label>
		<div class="col-lg-10">
			<input name="name" type="name" class="form-control" id="inputName" value="{{ user_information['name'] }}" required>
		</div>
	</div>
	{% if user_information['email'] %}
	<div class="form-group">
		<label for="inputEmail1" class="col-lg-2 control-label">Email</label>
		<div class="col-lg-10">
			<input name="email" type="email" class="form-control" id="inputEmail1" value="{{ user_information['email'] }}" required>
		</div>
	</div>
	{% endif %}
	{% if user_information['description'] %}
	<div class="form-group">
		<label for="inputEmail1" class="col-lg-2 control-label">Description</label>
		<div class="col-lg-10">
			<textarea name="description" type="description" class="form-control" id="inputDescription" row="3" required>{{ user_information['description'] }}</textarea>
		</div>
	</div>
	{% endif %}
	{% if user_information['has_request'] == False %}
	<div class="form-group">
		<div class="col-lg-offset-2 col-lg-10">
			<button onclick="request_full_profile({{ user_information['id'] }})" class="btn btn-default">Solicitar perfil Completo</button>
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}
{% block js %}
<script type=text/javascript src="{{ url_for('static', filename='js/user_information.js') }}"></script>
{% endblock %}